a {
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    color: #000;
    background-color: #f1f1f1;
    border: 1px solid #000;
    text-align: center;
    display: inline-block;
}